esb-tibco/TRAINING9/SharedResources/Schemas/XSD/GetCustomerSegment.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:tns="http://www.ooredoo.dz/crm/getCustomerSegment"
	 xmlns:ns0="http://www.ooredoo.dz/common/header/v1"
	 targetNamespace="http://www.ooredoo.dz/crm/getCustomerSegment"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.ooredoo.dz/common/header/v1" schemaLocation="../COMMON/Header.xsd"/>
	<xs:element name="getCustomerSegmentRequest" type="tns:GetCustomerSegmentRequest"/>
	<xs:complexType name="GetCustomerSegmentRequest">
		<xs:sequence>
			<xs:element ref="ns0:Header" minOccurs="0"/>
			<xs:element name="customer_id" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="getCustomerSegmentResponse" type="tns:GetCustomerSegmentResponse"/>
	<xs:complexType name="GetCustomerSegmentResponse">
		<xs:sequence>
			<xs:element name="segment" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>