esb-tibco/TRAINING9/SharedResources/Schemas/XSD/HttpSmsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="HttpSmsMtRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Response" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RptID" type="xs:string"/>
				<xs:element name="To" type="xs:string"/>
				<xs:element name="State" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>